@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700|Roboto:400,500');

* {
  box-sizing: border-box;
}

html {
  color: #333333;
  font-family: 'PT Serif', Georgia, 'Times New Roman', serif;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.4;
}

h1 {
  font-size: 1.5rem;
}